/*-------- 8. Footer style  -----*/

.copyright {
  .footer-logo {
    margin-top: 41px;
    margin-bottom: 12px;

    @media #{$xs-layout} {
      margin-top: 0;
    }

    @media #{$md-layout} {
      margin-top: 0;
    }

    @media #{$lg-layout} {
      margin-top: 28px;
    }
  }

  p {
    letter-spacing: 0.9px;

    color: #313131;

    a {
      color: #313131;

      &:hover {
        color: $theme-color;
      }
    }
  }

  &.copyright-white {
    p {
      color: #fff;

      a {
        color: #fff;

        &:hover {
          color: $theme-color;
        }
      }
    }
  }
}

.footer-widget {
  .footer-title {
    h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1;
      font-family: $Gilroy;
      margin: 0 0 16px;

      color: #fff;
    }
  }

  .footer-title-mobile {
    h3 {
      font-size: 16px;
    }
  }

  .footer-list {
    ul {
      li {
        margin: 0 0 11px;

        &:last-child {
          margin: 0 0 0;
        }

        a {
          letter-spacing: 0.3px;
          font-size: 16px;
          color: #fff;

          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }

  .subscribe-style {
    p {
      margin: 0 0 20px;

      color: #7a7a7a;
    }

    .subscribe-form {
      input {
        font-size: 13px;

        padding: 2px 10px 2px 0;

        color: #333;
        border: none;
        border-bottom: 2px solid #ebebeb;
        background: transparent;
      }

      .mc-news {
        display: none;
      }

      .clear {
        button {
          font-size: 14px;
          line-height: 1;

          width: auto;
          height: auto;
          margin: 13px 0 0;
          padding: 0 0 1px;

          text-transform: uppercase;

          color: #313131;
          border: none;
          border-bottom: 2px solid #9b9b9c;
          background: none;

          &:hover {
            color: $theme-color;
            border-bottom: 2px solid $theme-color;
          }
        }
      }
    }

    &.subscribe-style-white {
      p {
        color: #e6e6e6;
      }

      .subscribe-form {
        input {
          color: #a4a4a4;
          border-bottom: 2px solid #ebebeb;
        }

        .clear {

          input,
          button {
            color: #fff;
            border-bottom: 2px solid #b5b5b6;

            &:hover {
              color: $theme-color;
              border-bottom: 2px solid $theme-color;
            }
          }
        }
      }
    }
  }

  @media #{$xx-layout} {
    &.ml-95 {
      margin-left: 20px;
    }

    &.ml-145 {
      margin-left: 50px;
    }
  }

  @media #{$xl-layout} {
    &.ml-95 {
      margin-left: 0;
    }

    &.ml-145 {
      margin-left: 20px;
    }

    &.ml-30 {
      margin-left: 0;
    }

    &.ml-ntv5 {
      margin-left: -50px;
    }
  }

  @media #{$lg-layout} {
    &.ml-95 {
      margin-left: 0;
    }

    &.ml-145 {
      margin-left: 0;
    }

    &.ml-30 {
      margin-left: 0;
    }

    &.ml-ntv5 {
      margin-left: 0;
    }
  }

  @media #{$md-layout} {
    &.ml-95 {
      margin-left: 0;
    }

    &.ml-145 {
      margin-left: 0;
    }

    &.ml-30 {
      margin-left: 0;
    }

    &.ml-ntv5 {
      margin-left: 0;
    }
  }

  @media #{$xs-layout} {
    &.ml-95 {
      margin-left: 0;
    }

    &.ml-145 {
      margin-left: 0;
    }

    &.ml-30 {
      margin-left: 0;
    }

    &.ml-ntv5 {
      margin-left: 0;
    }
  }

  &.footer-widget-white {
    .footer-title {
      h3 {
        color: #fff;
      }
    }

    .footer-list {
      ul {
        li {
          a {
            color: #e6e6e6;

            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }
}

.footer-widget.ml-30,
.footer-widget.ml-50,
.footer-widget.ml-75 {
  @media #{$md-layout} {
    margin-left: 0;
  }

  @media #{$xs-layout} {
    margin-left: 0;
  }

  @media #{$lg-layout} {
    margin-left: 0;
  }
}

.footer-widget.ml-70 {
  @media #{$md-layout} {
    margin-left: -130px;
  }

  @media #{$xs-layout} {
    margin-left: 0;
  }

  @media #{$sm-layout} {
    margin-left: -90px;
  }

  @media #{$lg-layout} {
    margin-left: 0;
  }
}

/* home 4 */

.hm4-footer-padding .container-fluid {
  padding: 0 60px;

  @media #{$xx-layout} {
    padding: 0 60px;
  }

  @media #{$xl-layout} {
    padding: 0 30px;
  }

  @media #{$lg-layout} {
    padding: 0 15px;
  }

  @media #{$md-layout} {
    padding: 0 30px;
  }

  @media #{$xs-layout} {
    padding: 0 15px;
  }
}

.footer-area {
  position: relative;

  .container {
    .row {
      .email-input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 7px;
        background: #ffffff2b;
        display: flex;
        grid-template: 20px;
        align-items: center;

        h1 {
          color: #fff;
          font-family: Gilroy;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          letter-spacing: 0.48px;
          width: 28%;
          margin: 0;

          @media (max-width: 1200px) {
            font-size: 19px;
          }
        }

        .input {
          display: flex;
          width: 72%;
          border-radius: 5px;
          background-color: white;

          form {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;

            input {
              width: 80%;
              background-color: white;
              border-radius: 5px;
              border: none;
            }

            button {
              width: 20%;
              height: 80%;
              border-radius: 8px;
              background: #015edf;
              border: none;
              color: #fff;
              text-align: center;
              font-family: Gilroy;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }

      @media (max-width: 990px) {
        // display: flex;
        // flex-direction: column;
        // align-items: center;

        .email-input {
          position: relative;

          h1 {
            position: absolute;
            top: -45px;
            left: 0;
            width: 100%;
            text-align: center;
          }

          .input {
            width: 100%;
          }
        }
      }

      .footer-copyright {
        display: flex;
        // justify-content: center;
        align-items: center;

        select {
          width: auto;
          color: white;

          option {
            background-color: #3a52d1;
          }
        }

        .same-language-currency {
          position: relative;

          margin-right: 54px;

          @media #{$xs-layout} {
            margin-right: 15px;
          }

          &:before {
            position: absolute;
            top: 47%;
            right: -27px;

            width: 1px;
            height: 15px;

            content: "";
            transform: translateY(-50%);

            background-color: #d5d4d4;

            @media #{$xs-layout} {
              right: -10px;
            }
          }

          &:last-child:before {
            display: none;
          }

          &:last-child {
            margin-right: 0;
          }

          span {
            line-height: 54px;
            display: inline-block;
            margin-top: -3px;
            cursor: pointer;
            letter-spacing: 0.8px;
            color: white;

            @media #{$xs-layout} {
              line-height: 35px;
            }

            @media #{$sm-layout} {
              line-height: 54px;
            }

            i {
              font-size: 16px;

              position: relative;
              top: 2px;

              color: #555252;
            }
          }

          .lang-car-dropdown {
            position: absolute;
            z-index: 220;
            top: -190%;
            left: 0;

            visibility: hidden;

            width: 125px;
            padding: 8px 12px 10px;

            transition: all 0.5s ease 0s;
            transform: rotateX(90deg);
            transform-origin: center top 0;
            text-align: left;

            opacity: 0;
            background: #fff none repeat scroll 0 0;
            box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);

            ul {
              li {

                a,
                button {
                  font-size: 13px;
                  line-height: 27px;

                  border: none;
                  background: none;

                  &:hover {
                    color: $black;
                  }
                }
              }
            }
          }

          p {
            line-height: 1;

            margin-top: -1px;

            letter-spacing: 0.8px;

            color: #555252;
          }

          &:hover {

            &>a,
            span {
              color: $theme-color;
            }

            .lang-car-dropdown {
              visibility: visible;

              transform: rotateX(0deg);

              opacity: 1;
            }
          }

          &.language-style {
            span {
              text-transform: capitalize;
            }
          }
        }
      }

      .social-meadia {
        gap: 25px;
      }

      .copyright {
        p {
          color: #fff;
          text-align: center;
          font-family: Gilroy;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  &.ml-10 {
    margin-left: 0;
  }

  @media #{$xl-layout} {
    &.ml-70 {
      margin-left: 15px;
    }

    &.mr-70 {
      margin-right: 15px;
    }
  }

  @media #{$lg-layout} {
    &.ml-70 {
      margin-left: 30px;
    }

    &.mr-70 {
      margin-right: 30px;
    }
  }

  @media #{$md-layout} {
    &.ml-70 {
      margin-left: 40px;
    }

    &.mr-70 {
      margin-right: 40px;
    }
  }

  @media #{$xs-layout} {
    &.ml-70 {
      margin-left: 15px;
    }

    &.mr-70 {
      margin-right: 15px;
    }
  }
}

/* home 5 */

.footer-top {
  position: relative;
  z-index: 9;

  p {
    line-height: 28px;

    width: 55%;
    margin: 31px auto 33px;

    color: #fffefe;

    @media #{$md-layout} {
      width: 85%;
    }

    @media #{$xs-layout} {
      width: 100%;
    }
  }

  .footer-social {
    ul {
      display: flex;
      justify-content: center;

      li {
        line-height: 1;

        position: relative;

        margin: 0 23px;

        &:before {
          position: absolute;
          top: 50%;
          right: -30px;

          width: 16px;
          height: 2px;

          content: "";
          transform: translateY(-50%);

          background-color: #7c7b7b;
        }

        &:last-child:before {
          display: none;
        }

        a {
          font-size: 16px;

          color: #e5e5e5;

          &:hover {
            color: $theme-color;
          }
        }
      }
    }

    &.footer-social-white {
      ul {
        li {
          &:before {
            background-color: #fff;
          }
        }
      }
    }
  }

  &.pb-60 {
    @media #{$xs-layout} {
      padding-bottom: 60px;
    }
  }
}

.footer-bottom {
  position: relative;
  z-index: 9;
}

.copyright-2 {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 1px solid #ccc;

  p {
    line-height: 1;

    color: #fff;

    a {
      color: #fff;

      &:hover {
        color: $theme-color;
      }
    }
  }

  &.copyright-white-border {
    border-top: 1px solid #cccccc;
  }

  &.copyright-gray {
    p {
      color: #848484;

      a {
        letter-spacing: 0.9px;

        color: #848484;

        &:hover {
          color: $theme-color;
        }
      }
    }
  }
}

.footer-white {
  .footer-top {
    p {
      color: #000;
    }

    .footer-social {
      ul {
        li {
          a {
            color: #000;

            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  .copyright-2 {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 23px;

    border-top: none;
  }
}

.footer-border {
  border-top: 1px solid #e2e2e2;
}

.edugately-text {
  h1 {
    font-size: 20px;
  }

  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  @media (max-width:992px) {
    img {
      width: 60px;
      height: 60px;
    }
  }
}