.body {
    background: linear-gradient(217deg, #D0EBFF 3%, #FFF2FA 15%, #FFF2FA 29%, #D0EBFF 58%, #FFF2FA 83%, #D0EBFF 67%, #FFF2FA 83%);
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}



.katak {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1 !important;

    .svg2{
        display: none;
    }

    @media (max-width: 576px) {
        .svg2{
            display: none;
        }
        .svg1{
            display: none;
        }
    }
}

.carus {
    margin-bottom: 200px;

    .swiper {
        width: 100%;
        height: 480px;
        padding: 0 200px;

        @media (max-width: 992px) {
            padding: 0;
        }
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40px;
        margin-bottom: 80px;
    }

}

.section_title {
    text-align: center;
    font-family: $Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 80px;
}

.counter {
    background: linear-gradient(45deg, #325CFD 65%, #D9764B 98.61%);
    background-repeat: no-repeat;
    margin-bottom: 200px;
    padding: 37px 0;

    .info-cart {
        .card {
            background: none;
            border-radius: 6px;
            border: 1px solid #FFF;
            padding: 24px 0 31px 0;
            @media (max-width: 576px) {
                padding: 0;
                min-height: 70px;
            }

            .card-header {
                background: none;

                img {
                    @media (max-width: 576px) {
                        width: 34.482px;
                        height: 34.482px;
                        flex-shrink: 0;
                    }
                }
            }

            h1 {
                color: #FFF;
                font-family: $Gilroy;
                font-size: 55px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-align: center;

                @media (max-width: 576px) {
                    font-size: 14px;
                    text-align: left;
                }
            }

            p {
                color: #FFF;
                font-family: $Gilroy;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: center;

                @media (max-width: 576px) {
                    font-size: 8px;
                    text-align: left;
                }
            }
        }
    }


}

.unversity {
    padding-bottom: 200px;
    display: flex !important;

    .col-lg-3 {
        margin-bottom: 167px;

        @media (max-width: 576px) {
            margin-bottom: 94px;
        }
    }

    .card {
        height: 184px;
        position: relative;
        border-radius: 32px;
        background: #FFF;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
        border: none;

        @media (max-width: 576px) {
            height: 100px;
            border-radius: 10px;
        }
    }

    .container_images {
        width: 106.84px;
        height: 106.84px;
        margin: 0 auto;
        margin-top: -17%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 50%;
        overflow: hidden;
        background: #ECEFFC;

        @media (max-width: 576px) {
            top: -18% !important;
            left: 31.5% !important;
            width: 49.889px;
            height: 50.776px;
        }



        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            background-color: #fff;

            @media (max-width: 576px) {
                width: 49px;
                height: 50px;
            }
        }

    }

    .p {
        position: absolute;
        top: 75px;
        width: 100%;

        @media (max-width: 576px) {
            top: 20px;
        }

        p {
            color: #040404;
            text-align: center;
            font-family: $Gilroy;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 15px;

            @media (max-width: 576px) {
                color: #040404;
                text-align: center;
                font-family: $Gilroy;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}

.stdComment {
    padding-bottom: 200px;

    .cardbox {
        perspective: 500px;
        margin: 15px;

        @media (max-width:576px) {
            margin: 5px;
        }
    }

    .card1 {
        position: relative;
        border-radius: 5%;
        width: 100%;
        height: 460px;
        background: #fff;
        transform-style: preserve-3d;
        transition: 0.25s ease;
        // box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
        display: flex;
        z-index: 0;
        cursor: pointer;

        @media (max-width:576px) {
            height: 285px;
        }

        .card-header {
            background-color: #fff;
        }

        .card-footer {
            background-color: #fff;

        }
    }


    .card-back {
        width: 120px;
        height: 120px;
        color: #fff;
        backface-visibility: hidden;
        display: none;
        transition: all 0.5s linear;
    }

    .card-front {
        font-size: 40px;
        justify-content: center;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .col {
        // position: relative;
        // transition: all 0.3s linear;
        // width: 100%;
        // border-radius: 30px;
        // background: var(--black-and-white-ffffff, #FFF);
        // box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
        // z-index: 2;



        // .commet_info {
        //     background-color: #fff;
        //     // display: none;
        //     position: absolute;
        //     right: -267px;
        //     width: 300px;
        //     height: 100%;
        //     z-index: 1 !important;
        // }

        &:hover {
            // background-color: #fff;

            // .commet_info {
            //     display: block;
            //     z-index: 9999;
            // }
        }
    }


    .comment_img {
        width: 100%;
        height: 222px;
        object-fit: contain;
        border-radius: 20px;

        @media (max-width:576px) {
            width: 100%;
            height: 81.232px;
        }
    }

    h2 {
        color: #000;
        font-family: $Gilroy;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media (max-width:576px) {
            font-size: 14px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
    }

    p {
        color: var(--black-and-white-7-a-7-a-7-a, #717171);
        font-family: $Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 184.5%;

        @media (max-width:576px) {
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 184.5%;
            margin-bottom: 7px;
            margin-top: 15px;
        }
    }
}

.facultet {
    background: #D0EBFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
    margin-top: 150px;

    .card {
        background: none;
        border: none;
        margin-bottom: 70px;
        cursor: pointer;

        .card-body {
            background: none;

            .img-cirkl {
                margin: 0 auto;
                width: 145.218px;
                height: 145.218px;
                flex-shrink: 0;
                border-radius: 83px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width:576px) {
                    width: 80%;
                    height: 106.218px;
                }

                img {
                    object-fit: cover;

                    @media (max-width:576px) {
                        width: 80%;

                    }

                }
            }

            p {
                color: #0F2137;
                text-align: center;
                font-family: $Gilroy;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                margin-top: 21px;
            }
        }
    }
}

.btn-header {
    width: 484px;
    border: none;
    padding: 38px 48px;
    display: inline-block;
    margin-top: 109px;
    border-radius: 35px;
    background: linear-gradient(180deg, #88A9F9 0%, #325CFD 100%);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-family: $Gilroy;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;

    @media (max-width: 576px) {
        width: 100%;
        padding: 25px 50px;
    }
}

.callMe {
    margin-top: 200px;
    margin-bottom: 200px;


    @media (max-width: 576px) {
        border-radius: 10px;
        background: #D0EBFF;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
        padding: 68px 0 0px 0;
        position: relative;
    }

    h1 {
        @media (max-width: 576px) {
            font-size: 20px;
        }
    }

    .card {
        border-radius: 10px;
        background: #D0EBFF;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
        padding: 68px 0 0px 0;

        @media (max-width: 576px) {
            border: none;
            box-shadow: none;
        }
    }

    .tell {
        @media (max-width: 576px) {
            position: absolute;
            top: -180px;
            left: -30px;
            width: 200px;
        }

    }

    .form {
        input {
            display: block;
            width: 348px;
            height: 67px;
            flex-shrink: 0;
            border-radius: 16px;
            border: 1px solid rgba(24, 25, 69, 0.10);
            background: #FFF;
            margin: 0 auto;
        }

        button {
            display: block;
            width: 259px;
            height: 49px;
            flex-shrink: 0;
            border-radius: 35px;
            background: linear-gradient(180deg, #88A9F9 0%, #325CFD 100%);
            color: #FFF;
            text-align: center;
            font-family: $Gilroy;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            margin: 0 auto;
            margin-top: 25px;
        }
    }
}

.oldd{
    z-index: 3;
    position: relative;
    @media (max-width:576px){
        position: static;
    }
}