.invoisModal {
  background-color: rgba(26, 23, 23, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  .invoisCenter {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px !important;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1005;
    label {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .close {
      position: absolute;
      top: -10px;
      right: -9px;
      cursor: pointer;
    }
    .type_file {
      display: flex;
      justify-content: center;
      background: #eaf5fa;
      border: 1px dashed #009fe5;
      border-radius: 10px;
      padding: 5px 10px;
      align-items: center;
      box-shadow: none;
      img {
        width: 30px;
        margin-right: 20px;
      }

      input {
        display: none;
      }
    }
    .button {
      padding-top: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .cancel {
        background-color: rgb(240, 110, 110);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .send {
        background-color: rgb(27, 187, 199);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      button {
        font-size: 22px;
        color: white;
        padding: 10px 40px;
      }
    }
  }
}
